/**** VAR ****/
$mfont: 17px;
$out: 1px solid red;
$maincolor: #4db169;
$secondcolor: #15515F;
$secondcolorlighter: #76B9C9; 
$secondcolorlighter2: #8CBDC9; 

.left {
    float: left;
}
.right {
    float: right;
}
.center {
    text-align: center;
}
.text-right {
    text-align: right;
}
/**** MAIN ****/
body {
    font-size: $mfont;
    font-family: 'Lora', serif;
}

.button {
    padding: 12px 22px 10px;
    background-color: $secondcolor;
    border: 0;
    border-radius: 20px;
    text-transform: uppercase; 
    color: #fff;
    font-size: 15px;
}
.button:hover {
    color: #d9d9e8;
    text-decoration: none;
}

/**** HEAD ****/

header {
    background-color: $maincolor;
    color: #fff;
    h1 {
        font-size: 69px;
        text-transform: uppercase;
        margin-top: 0;
    }
    h2 {
        font-size: 50px;
        margin-top: 10px;
        margin-bottom: 0;
        span {
            padding-right: 95px;
            padding-bottom: 20px;
            font-size: 80px;
            background: url(img/logo.png) center right no-repeat;
        }
    }
}
.contacts {
    margin-top: 40px;
    h4 {
        margin: 10px 0 10px;
    }
    h4:nth-child(2) {
        margin: 10px 0 20px; 
        font-size: 29px;
    }
}

.call_us {
    margin-top: 20px;
}
/**** NAV ****/
.navbar {
    margin-bottom: 0;
    /*background-color: #070000;*/
    background-color: $maincolor;
    a {
        text-transform: uppercase;
    }
    .current, .current:hover {
        text-decoration: underline;
    }
    li {
        transition: all 0.15s linear;
    }
    li:hover {
        background-color: $maincolor;
        a:hover {color: #fff; }
    }
}
.navbar-nav>li>a {
    line-height: 32px;
}

.social {
    display: flex;
    justify-content: center;
    margin-top: 25px;
    a {
        display: inline-block;
        width: 32px;
        height: 32px;
        background-size: cover;
        margin: 0 4px;
    }
    a:nth-child(1){
        background: url(img/social/fb.png) center no-repeat;
    }
    a:nth-child(2){
        background: url(img/social/g.png) center no-repeat;
    }
    a:nth-child(3){
        background: url(img/social/vk.png) center no-repeat;
    }
}
.navbar-default {
    border: 0;
    box-shadow: none;
}
/*slider*/
#slider {
    -webkit-box-shadow: 0px 5px 10px -1px rgba(0,0,0,0.31);
    -moz-box-shadow: 0px 5px 10px -1px rgba(0,0,0,0.31);
    box-shadow: 0px 5px 10px -1px rgba(0,0,0,0.31);
}
/**** MAIN *****/
main {
    h1 {
        border-bottom: 1px solid black;
        margin: 50px 0;
        text-transform: uppercase;
    }
}
.port {
    display: inline-block;
    float: left;
    padding: 0 50px 30px 0;
    width: 50%;
    img {
        width: 100%;
    }
    p {
        width: 70%;
    }
}
.text {
    text-align: justify;
}

/**** PRICE ****/
main {
    table {
        width: 100%;
        font-size: 20px;
        margin-bottom: 100px;
    }
    .td_bold {
        padding-left: 20px;
    }
    .td_header {
        font-size: $mfont+4;
    }
    td {
        padding: 5px 50px;
    }
    td:nth-child(2) {
        padding: 5px 20px;
    }
    tr:nth-child(1) {
        text-transform: uppercase;
        font-size: 25px;
        td {
        padding: 30px 20px 15px;
    }
    }
    tr:nth-child(odd) {
        background-color: lighten( $secondcolorlighter2, 10% );
    }
}  
/**** ABOUT ****/
.about {
    img {
        width: 100%;
    }
}
/**** CONTACT ****/
.contact {
    img {
        width: 100%;
    }
    b {
        font-size: $mfont+2px;
    }
    .social {
        display: block;
    }
}
form {
    textarea {
        width: 100%;
        padding: 10px 20px;
    }
    input {
        font-size: 18px;
        padding: 10px 0 10px 20px;
        width: 100%;
        margin-bottom: 20px;
        border: 1px solid #999;
    }
    button {
        margin: 30px 0 30px;
        transition: all 0.15s linear;
    }
}
/**** FOOTER ****/
footer {
    margin-top: 50px;
    z-index: 2;
    padding: 120px 0 70px;
    background-color: $secondcolor;
    .fa {
    color: $secondcolorlighter2;
    }
    color: #fff;
    .timetable {
        margin-left: 10px;
        width: 100%;
        font-size: 16px;
        tr {
            padding-top: 15px;
        }
        td {
            padding: 2px;
            vertical-align: bottom;
        }
        td:nth-child(1) {
            color: $secondcolorlighter;
        }
    }
    .contacttable {
        h3 {
            margin: 5px 0 7px;
        }
        .phone {
            font-size: 25px;
            margin: 0 0 4px;
        }
        td:nth-child(1) {
            color: $secondcolorlighter;
        }
    }
    h2 {
        padding-bottom: 10px;
        margin-top: 0;
        border-bottom: 1px solid $secondcolorlighter;
    }
    .licens {
        font-size: 13px;
        color: $secondcolorlighter;
    }
    .copyright {
        display: flex;
        position: absolute;
        justify-content: center;
        margin-top: 70px;
        align-items: center;
        width: 100%;
        height: 60px;
        background-color: $secondcolorlighter;
        text-align: right;
        p {
            color: #333;
        }
    }
    .toplink {
        display: block;
        position: absolute;
        padding: 5px;
        z-index: 50;
        bottom: 15px;
        right: 30px;
        height: 35px;
        width: 20px;
        opacity: 0.5;
        transition: all 0.2s linear;
        .fa {
            color: $secondcolor;
        }
        }
    .toplink:hover {
        opacity: 0.8;
    }
}